# Ignore everything
/*

# Except 'Dockerfile', 'compose.yaml', 'run-tac_plus-ng-docker.sh', '.gitignore', 'tac_plus-ng/'
!/Dockerfile
!/compose.yaml
!/run-tac_plus-ng-docker.sh
!/.gitignore
!/tac_plus-ng/
